{% extends 'header.html' %}

{% block body%}
<div class="row" name="search-row">
    <div class="col-md-3 my-2">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Latitude" id="lat">
        </div>
    </div>
    <div class="col-md-3 my-2">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Longitude" id="lng">
        </div>
    </div>
    <div class="col-md-2 my-2">
        <button type="button" class="btn btn-primary btn-lg" onclick="getBooksByGeolocation()">Search</button>
    </div>
    <div class="col-md-2 my-2">
        <div class="form-check my-sm-0">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="db-selector" id="db-selector1" value="mysql"
                    checked="">
                MySQL
            </label>
        </div>
        <div class="form-check my-sm-0">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="db-selector" id="db-selector2" value="mongo">
                Mongo DB
            </label>
        </div>
    </div>
</div>
<h3>Table with all books that's close to given geolocation</h3>
<div class="row" name="result-row">
    <div class="col-md-2" id="result-col">
        Books
    </div>
    <div class="col-md-10">
        <div id="map"></div>
    </div>
</div>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvmxwwqPXsP0_0LSSnv-vXVfm8Eu1iCUM&callback=initMap"></script>


{% endblock %}