{% extends 'header.html' %}

{% block body %}
<div class="row" name="search-row">
    <form class="form-inline col-md-10">
        <!-- COMPLETE FORM LATER -->
        <div class="form-group my-sm-0">
            <input class="form-control form-control-lg" type="text" placeholder="City name" id="inputLarge">
        </div>
        <button type="submit" class="btn btn-primary btn-lg my-2">Search</button>
        <div class="form-check my-2 my-sm-0">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="db-selector" id="db-selector1" value="mysql"
                    checked="">
                MySQL
            </label>
        </div>
        <div class="form-check my-2 my-sm-0">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="db-selector" id="db-selector2" value="mongo">
                Mongo DB
            </label>
        </div>
    </form>
</div>
<div class="row" name="result-row">
    <div class="col-md-10">
        <h1>Table with books and authors that mention given city</h1>
    </div>
</div>
{% endblock %}