{% extends 'header.html' %}

{% block body %}
<div class="row" name="search-row">
    <div class="col-md-6 my-2">
        <div class="form-group my-sm-0">
            <input class="form-control form-control-lg" type="text" placeholder="Book title" id="searchInput">
        </div>
    </div>
    <div class="col-md-2 my-2">
        <button type="button" class="btn btn-primary btn-lg" onclick="getCitiesByBook()">Search</button>
    </div>
    <div class="col-md-2 my-2">
    <div class="form-check my-sm-0">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="db-selector" id="db-selector1" value="mysql" checked="">
            MySQL
        </label>
    </div>
    <div class="form-check my-sm-0">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="db-selector" id="db-selector2" value="mongo">
            Mongo DB
        </label>
    </div>
</div>
</div>
<div class="row" name="response-row">
    <div class="col-md-12" name="response-div">
        <h3>Map that shows cities mentioned in book</h3>
    </div>
</div>
<div id="map"></div>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvmxwwqPXsP0_0LSSnv-vXVfm8Eu1iCUM&callback=initMap"></script>

{% endblock %}